<div class="row">
    <div>
        <label> Username: </label>
        <input class="form-control" type="text" [(ngModel)]="username" name="username" >
        <br>
        <button class="btn btn-default" (click)="setUsername()"> Submit </button>
    </div>
</div>

<h1> SocketChat </h1>
<div *ngIf="username">
    <input class="form-control" type="text" placeholder="Your Massage..." [(ngModel)]="message" name="massage" (keyup.enter)="sendMassage()">

    <div *ngFor="let mes of messages">
        <div class="well"> 
            <strong> {{mes.username}}: </strong>{{mes.text}}
        </div>
    </div>
</div>

<div class="text-center" *ngIf="!username">
    <h2 class="well text-info"> Please Log In </h2>
</div>


