<div class="row">
    <form>
        <label> Username: </label>
        <input id="input"
        class="form-control" 
        type="text"
        [(ngModel)]="username" 
        name="username" >
    </form>
</div>

<h1> SocketChat </h1>
<div *ngIf="username">
        <div class="input-group">
        <input type="text" class="form-control" placeholder="Your message..." [(ngModel)]="message" name="massage" (keyup.enter)="sendMassage()">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" (click)="sendMassage()">SEND</button>
        </span>
        </div>
    
        <div class="alert alert-danger" *ngIf="validationMessage">
            {{validationMessage}}
        </div>

        <div *ngFor="let mes of messages">
            <div class="well" *ngIf="mes.username"> 
                <strong> {{mes.username}}: </strong> <span [innerHTML]="mes.text"> </span>
            </div>
        </div>
</div>

<div class="text-center" *ngIf="!username">
    <h2 class="well text-info"> Please Log In </h2>
</div>


